services:
  - docker


matrix:
  include:
    - language: node_js
      node_js:
        - "10"
      env:
        - CXX=g++-4.8
      before_script:
        - cd server
        - npm install
      script:
        - npm test
    - language: python
      python: 3.6.6
      before_script:
        - cd analytics
        - pip install -r requirements.txt
      script:
        - python -m unittest discover

script:
  - make

notifications:
  email: false
