[Unit]
Description=REST server for managing data for analytics
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/node dist/server
WorkingDirectory=/usr/lib/hastic-server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hastic-server
User=hastic-server
Group=hastic-server

[Install]
WantedBy=multi-user.target
